:root{
    --cor-preto:         #000000;
    --cor-verde-escuro:  #0F6201;
    --cor-verde:         #7CBD39;
    --cor-verde-claro:   #C7E97C;
    --cor-amarelo:       #FFF9BE;
    --cor-amarelo-claro: #FFFEEC;
    --cor-branco:        #ffffff;

    --borda: 2px solid var(--cor-verde-escuro);
    --borda-arredondada: 10px;

    --tamanho-fonte-lg:30px;
    --tamanho-fonte-md:20px;
    --tamanho-fonte-sm:14px;

}

@font-face {
    font-family: Libertinus_Serif;
    src: url(../fonts/Libertinus_Serif/LibertinusSerif-Bold.ttf),
    url(../fonts/Libertinus_Serif/LibertinusSerif-BoldItalic.ttf),
    url(../fonts/Libertinus_Serif/LibertinusSerif-Italic.ttf),
    url(../fonts/Libertinus_Serif/LibertinusSerif-Regular.ttf),
    url(../fonts/Libertinus_Serif/LibertinusSerif-SemiBold.ttf),
    url(../fonts/Libertinus_Serif/LibertinusSerif-SemiBoldItalic.ttf);
}

@font-face {
    font-family: Emblema_One;
    src: url(../fonts/Emblema_One/EmblemaOne-Regular.ttf);
}

/* SELETO GLOBAL */
*{
 font-family: "Libertinus_Serif", serif;
 padding: 0;
 margin: 0;
 box-sizing: border-box;/* o valor total do tamanho do elemento conta tanto com espaços internos e externos e borda*/
 outline-color:  var(--cor-verde-escuro) ;
}

body{
    background-color: var(--cor-amarelo);
}

h1{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.estilo-formulario{
    border: var(--borda);
    width: 100%;
    /* max-width: 340px; */
    background-color: var(--cor-amarelo-claro);
}

input{
    width: 100%;
    height: 35px;
    border: var(--borda);
    background-color: var(--cor-amarelo-claro);
}

.formulario-botao-verde{
    background-color: var(--cor-verde-escuro);
    /* background-color: var(--cor-amerlo); */
    border-radius: var(--borda-arredondada);
    border: none;
    height: 35px;

    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-sm);
}

/**** cabeçalho *******/

#cabecalho{
    width: 100%;
    height: 70px;
    background-color: var(--cor-amarelo-claro);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border-bottom: 3.5px solid var(--cor-verde-escuro);
}

#cabecalho > nav{
    background-color: var(--cor-amarelo-claro);
    width: 80%;
    max-width: 1440px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-mobile{
    display: none;
}

.cabecalho-acoes{
    /* background-color: brown; */
    display: flex;
    align-items: center;
    gap: 10px;
}

.cabecalho-acoes > a{
    display: flex;
    align-items: center;
}

#foto-perfil{
    width: 40px;
    height: 40px;
    object-fit: cover; /*redimensionar foto*/
    object-position: center;
    border-radius: 50%;
}

.foto-story{
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: var(--borda);
} 

.foto-publi{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: var(--borda);
}


#secao-publi{
   background-color: var(--cor-verde-claro);
   width: 100%;
   max-width: 700px;
   /* height: 200px; */
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   /* align-items: center; */
   margin-top: 30px;
   border-radius: 15px;
   padding: 10px;
   flex-direction: column;
}

#secao-publi > h2{
    font-size: var(--tamanho-fonte-lg);
    color: var(--cor-preto);
    font-weight: 800;
}

.formulario-botao-claro{
    background-color: var(--cor-verde);
    /* background-color: var(--cor-amerlo); */
    border-radius: 60px;
    border: none;
    height: 25px;

    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-sm);
}

#secao-publi > form{
    /* background-color: aqua; */
    gap: 5px;
}

#secao-publi > form > textarea{
    width: 100%;
    height: 80px;
    background-color: var(--cor-amarelo);
    border: none;
    border-radius: 10px;
    padding: 5px;
}

#secao-publi > form > textarea::placeholder{
    color: #999572;
}

.file-upload {
    display: inline-block;
    width: 100%;
    padding: 10px 12px;   /* deixei menor */
    background-color: var(--cor-verde-escuro);
    cursor: pointer;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 14px;
}

.upload {
    display: inline-block;
    width: 100%;
    height: 40px;
    padding: 10px 12px;   /* deixei menor */
    background-color: var(--cor-amarelo);
    cursor: pointer;
    border-radius: 50px;
    font-family: sans-serif;
    font-size: 14px;
}

/*RESPONSIV*/
@media only screen and (max-width: 485px){
    #logo-mobile{
        display: block;
    }

    #logo-desktop{
        display: none;
    }
}