main{
    height: 100%;
    min-height: 100vh; /*Altura da janela do meu dispositivo*/
    background-color: #FFFEEC;
    display: flex;
    align-items: center;/*alinha no sentido ao contrario do flex*/
    justify-content: center;
}

main > div{
    background-color: #FFFEEC;
    width: 90%;
    /* height: 500px; */
    display: flex;
    /* justify-content: space-between; */
    gap: 15px;
    flex-direction: column;
    align-items: center;
}

/* formulario */
#formulario{
    /* width: 100%; */
    /* height: 300px; */
    background-color: #FFF9BE;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    gap: 15px;
}

#secao-cadastro{
    /* width: 100%; */
    /* max-width: 170px; */
    height: 60px;
    background-color: #FFF9BE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.estilo-formulario{
    /* border: var(--borda);
    width: 100%; */
    max-width: 340px;
    /* background-color: var(--cor-amarelo-claro); */
}

#formulario > div{
    width: 100%;
}

#formulario > p {
    text-transform: uppercase;
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-preto);
}

#formulario > a, #secao-cadastro > p > a{
    text-decoration: none;
    color: var(--cor-verde-escuro);
}

#secao-cadastro > p{
    font-size: var(--tamanho-fonte-sm);
}

#formulario > div > label{
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-verde-escuro);
    font-weight: 500; /*aumenta ou diminui o tamanho da fonte*/
    padding-bottom: 5px;
}

.formulario-botao-verde{
    width: 100%;
}

.informacao-aplicativo{
    /* background-color: red; */
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-preto);
    font-weight: 400;
}

#secao-instalacao{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /*espaços em linhas e coluna*/
}

#secao-instalacao img{
    width: 120px;
    height: 39px;
}
